*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica, sans-serif;
    overflow-x: hidden;
}

.hero{
   
    background: url('images/banner-bg.jpg');
    background-size:cover;
    background-position:center;
    padding: 100px 0;
  
}

.hero1{
    position:relative;
    bottom:-200px;
}

.hero2{
    margin-top: 200px;

}

.hero3{
    background-image:url('image/closed-bg.jpg');
    background-position:center;
    background: cover;
}